@font-face {
  font-family: "raleway";
  font-display: swap;
  src: url("/assets/fonts/raleway-v22-latin_cyrillic-600.woff2") format("woff2"), url("/assets/fonts/raleway-v22-latin_cyrillic-600.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "icon-font";
  src: url("../icon-font/icon-font.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-weight: 100;
  font-family: "Roboto";
  font-style: normal;
  src: local("Roboto Thin"), local("Roboto-Thin"), url("/assets/fonts/Robotothin.woff2") format("woff2"), url("/assets/fonts/Robotothin.woff") format("woff"), url("/assets/fonts/Robotothin.ttf") format("truetype");
}
@font-face {
  font-weight: 100;
  font-family: "Roboto";
  font-style: italic;
  src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url("/assets/fonts/Robotothinitalic.woff2") format("woff2"), url("/assets/fonts/Robotothinitalic.woff") format("woff"), url("/assets/fonts/Robotothinitalic.ttf") format("truetype");
}
@font-face {
  font-weight: 300;
  font-family: "Roboto";
  font-style: normal;
  src: local("Roboto Light"), local("Roboto-Light"), url("/assets/fonts/Robotolight.woff2") format("woff2"), url("/assets/fonts/Robotolight.woff") format("woff"), url("/assets/fonts/Robotolight.ttf") format("truetype");
}
@font-face {
  font-weight: 300;
  font-family: "Roboto";
  font-style: italic;
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("/assets/fonts/Robotolightitalic.woff2") format("woff2"), url("/assets/fonts/Robotolightitalic.woff") format("woff"), url("/assets/fonts/Robotolightitalic.ttf") format("truetype");
}
@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;
  src: local("Roboto"), local("Roboto-Regular"), url("/assets/fonts/Roboto.woff2") format("woff2"), url("/assets/fonts/Roboto.woff") format("woff"), url("/assets/fonts/Roboto.ttf") format("truetype");
}
@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: italic;
  src: local("Roboto Italic"), local("Roboto-Italic"), url("/assets/fonts/Robotoitalic.woff2") format("woff2"), url("/assets/fonts/Robotoitalic.woff") format("woff"), url("/assets/fonts/Robotoitalic.ttf") format("truetype");
}
@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("/assets/fonts/Robotomedium.woff2") format("woff2"), url("/assets/fonts/Robotomedium.woff") format("woff"), url("/assets/fonts/Robotomedium.ttf") format("truetype");
}
@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: italic;
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("/assets/fonts/Robotomediumitalic.woff2") format("woff2"), url("/assets/fonts/Robotomediumitalic.woff") format("woff"), url("/assets/fonts/Robotomediumitalic.ttf") format("truetype");
}
@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("/assets/fonts/Robotobold.woff2") format("woff2"), url("/assets/fonts/Robotobold.woff") format("woff"), url("/assets/fonts/Robotobold.ttf") format("truetype");
}
@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: italic;
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("/assets/fonts/Robotobolditalic.woff2") format("woff2"), url("/assets/fonts/Robotobolditalic.woff") format("woff"), url("/assets/fonts/Robotobolditalic.ttf") format("truetype");
}
@font-face {
  font-weight: 900;
  font-family: "Roboto";
  font-style: normal;
  src: local("Roboto Black"), local("Roboto-Black"), url("/assets/fonts/Robotoblack.woff2") format("woff2"), url("/assets/fonts/Robotoblack.woff") format("woff"), url("/assets/fonts/Robotoblack.ttf") format("truetype");
}
@font-face {
  font-weight: 900;
  font-family: "Roboto";
  font-style: italic;
  src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url("/assets/fonts/Robotoblackitalic.woff2") format("woff2"), url("/assets/fonts/Robotoblackitalic.woff") format("woff"), url("/assets/fonts/Robotoblackitalic.ttf") format("truetype");
}
/*--tiny-slider--*/
/*--end tiny-slider--*/
/*--FormHandler-*/
/*--end FormHandler--*/
/*--spoilers-*/
/* Generated by vite-plugin-svg-spritemap */
/*--------------------adjustment----------------------*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  min-width: 20rem;
  position: relative;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  color: #000;
  background-color: #E6DAC0;
}
.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  overflow-behavior: none;
}

html, body {
  height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}
.wrapper > * {
  min-width: 0;
}
.wrapper .header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.wrapper .main-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper .footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

ul, li {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

input input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input,
input {
  border-radius: 0;
  outline: none;
  display: block;
  width: 100%;
  border: 0 none;
}

textarea {
  resize: none;
  padding: 0 0;
}

[class*=__wrapper] {
  padding-inline: clamp(1rem, 5vw, 6.25rem);
}

.hidden {
  display: none !important;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 52.25%;
}

.ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

._prod-img {
  position: relative;
  padding-bottom: 80%;
}
._prod-img img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

._fit {
  padding-bottom: 80%;
  position: relative;
}

._fit ._fit-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

@supports (backdrop-filter: blur(10px)) or (--webkit-backdrop-filter: blur(10px)) {
  .bd-filter-fallback {
    background-color: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(1.9375rem);
  }
}

/*--------------------END adjustment----------------------*/
/*--------------------ui----------------------*/
.btn {
  padding-inline: clamp(1.875rem, 3vw, 5.3125rem);
  padding-block: clamp(0.625rem, 1vw, 2.8125rem);
  border-radius: 3.75rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #fff;
  font-size: clamp(1rem, 1vw, 2rem);
}
@media (any-hover: hover) {
  .btn:hover {
    background-color: #000;
    color: #fff;
  }
}
.btn-dark {
  background-color: #000;
  color: #fff;
}
@media (any-hover: hover) {
  .btn-dark:hover {
    background-color: #fff;
    color: #000;
  }
}

.paragrhaph {
  margin: 0;
  font-size: clamp(1.125rem, 2vw, 2.5rem);
  font-weight: 300;
  line-height: 150%;
}

/*--------------------END ui----------------------*/
/*--------------------header----------------------*/
.header {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 40;
  background-color: #E6DAC0;
  font-size: clamp(1rem, 1vw, 2rem);
}

.header__wrapper {
  padding-block: clamp(0.625rem, 1vw, 2.8125rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 767.98px) {
  .header__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.625rem;
  }
}

.header__logo {
  width: clamp(6.25rem, 10vw, 17.5rem);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media only screen and (min-width: 767.98px) {
  .header__menu {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: clamp(0.9375rem, 5vw, 5rem);
     -moz-column-gap: clamp(0.9375rem, 5vw, 5rem);
          column-gap: clamp(0.9375rem, 5vw, 5rem);
  list-style-type: none;
}

@media (any-hover: hover) {
  .header__menu-link:hover {
    text-decoration: underline;
  }
}

.header__order {
  padding-inline: clamp(1.875rem, 3vw, 5.1875rem);
  padding-block: clamp(0.3125rem, 1vw, 1.1875rem);
  border: 1px solid #000;
  border-radius: 3.125rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .header__order {
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }
}
@media (any-hover: hover) {
  .header__order:hover {
    background-color: #000;
    color: #fff;
  }
}

/*--------------------END header----------------------*/
.hero {
  min-height: 100svh;
  padding-top: clamp(5rem, 7vw, 10rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.hero h1 {
  font-weight: 600;
  font-size: clamp(1.5rem, 5vw, 8rem);
  margin-bottom: 0.1875em;
}

.hero__wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 767.98px) {
  .hero__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-block: 1.875rem;
  max-width: 81.25rem;
}
@media only screen and (max-width: 767.98px) {
  .hero__content {
    text-align: center;
  }
}

.hero__text {
  margin-bottom: clamp(1.25rem, 4vw, 3.75rem);
}

.hero__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: clamp(0.625rem, 1vw, 1.875rem);
}
@media only screen and (max-width: 767.98px) {
  .hero__btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media only screen and (max-width: 480px) {
  .hero__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero__img {
  margin-right: clamp(-6.25rem, -5vw, -1rem);
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.models {
  min-height: 100svh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 767.98px) {
  .models {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.models h2 {
  margin-bottom: 0.375em;
  font-size: clamp(1.875rem, 3vw, 4rem);
  color: #fff;
  font-weight: 600;
}

.models__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
  padding-inline: clamp(1rem, 5vw, 6.25rem);
  padding-bottom: clamp(1.875rem, 8vw, 22.9375rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.item-models__content {
  position: relative;
  z-index: 2;
}

.item-models__text {
  padding-right: clamp(0px, 5vw, 6.25rem);
  color: #fff;
  margin: 0;
  font-size: clamp(1rem, 2vw, 2.25rem);
  font-weight: 300;
  line-height: 150%;
}

.item-models__img {
  top: 0;
}

.app__wrapper {
  min-height: 100svh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: clamp(1.875rem, 5vw, 18.5625rem);
  padding-bottom: clamp(1.875rem, 5vw, 10.75rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
@media only screen and (min-width: 187.5rem) {
  .app__content {
    max-width: 47.7099236641%;
  }
}
.app__content h2 {
  margin-bottom: 0.25em;
  font-weight: 600;
  font-size: clamp(1.25rem, 5vw, 6rem);
  text-wrap: balance;
}

.app__text {
  margin-bottom: clamp(1.25rem, 4vw, 4rem);
}

@media only screen and (min-width: 576px) {
  .app__img {
    max-width: 50%;
  }
}

.plyr__video-embed, .plyr__video-wrapper--fixed-ratio {
  aspect-ratio: 3134/1477;
  height: auto;
}
@media only screen and (max-width: 767.98px) {
  .plyr__video-embed, .plyr__video-wrapper--fixed-ratio {
    aspect-ratio: auto;
    min-height: 100svh;
  }
}

[data-plyr=play] svg, [data-plyr=play] .plyr__sr-only {
  display: none;
}

.plyr__control {
  width: 5.7753669432% !important;
  aspect-ratio: 1/1;
  background-color: transparent;
  background-image: url(src/assets/img/play.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
}

.plyr--video .plyr__control:hover {
  width: 5.7753669432% !important;
  aspect-ratio: 1/1;
  background-color: transparent;
  background-image: url(src/assets/img/play.svg);
  background-size: 100%;
  opacity: 0.5;
}

.plyr__poster {
  background-size: cover;
}

/*--------------------footer----------------------*/
/*--------------------END footer----------------------*/
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  fill: currentColor;
}

.icon {
  margin: 0.5rem;
}
.icon-burger, .icon-burger-mask {
  width: 1.125em;
  height: 0.75em;
}
.icon-check, .icon-check-mask {
  width: 1.125em;
  height: 1.125em;
}
.icon-exit, .icon-exit-mask {
  width: 1.25em;
  height: 1.375em;
}
.icon-page-next, .icon-page-next-mask {
  width: 0.3125em;
  height: 0.5625em;
}
.icon-page-prev, .icon-page-prev-mask {
  width: 0.3125em;
  height: 0.5625em;
}
.icon-payments, .icon-payments-mask {
  width: 1.375em;
  height: 1.125em;
}
.icon-profile, .icon-profile-mask {
  width: 1.125em;
  height: 1.125em;
}
.icon-rub, .icon-rub-mask {
  width: 1.5em;
  height: 1.5em;
}
.icon-ruble-gray, .icon-ruble-gray-mask {
  width: 1.75em;
  height: 2.25em;
}
.icon-ruble, .icon-ruble-mask {
  width: 0.875em;
  height: 1.125em;
}
.icon-sec-red, .icon-sec-red-mask {
  width: 1.25em;
  height: 1.25em;
}
.icon-security-green, .icon-security-green-mask {
  width: 1.25em;
  height: 1.25em;
}
.icon-security-red, .icon-security-red-mask {
  width: 1.25em;
  height: 1.25em;
}
.icon-setts, .icon-setts-mask {
  width: 1.375em;
  height: 1.5em;
}
.icon-svg-sprite, .icon-svg-sprite-mask {
  width: 1.75em;
  height: 2.25em;
}
.icon-trans, .icon-trans-mask {
  width: 1.375em;
  height: 1.375em;
}